---
http_interactions:
- request:
    method: get
    uri: https://api35.semantria.com/status.json?oauth_consumer_key=9d205eae-9c7f-4442-92b0-c9aaef1f20e1&oauth_nonce=75398756417873298710&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1409094958&oauth_version=1.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - oauth_version=1.0,oauth_timestamp=1409094958,oauth_nonce=75398756417873298710,oauth_signature_method=HMAC-SHA1,oauth_consumer_key=9d205eae-9c7f-4442-92b0-c9aaef1f20e1,OAuth
        realm=,oauth_signature=THG1K64c7lPHNwsdMtvz6TNQI5k%3D
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: '{"api_version":"3.55","service_version":"3.5.5.732","service_status":"available","supported_encoding":"UTF-8","supported_compression":"gzip,deflate","supported_languages":["English","French","Spanish","Portuguese","German","Chinese","Italian","Korean"]}'
  recorded_at: Tue, 26 Aug 2014 23:15:59 GMT
[...]
- request:
    method: get
    uri: https://api35.semantria.com/status.json?oauth_consumer_key=key&oauth_nonce=04884788028488627343&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1409095002&oauth_version=1.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - oauth_version=1.0,oauth_timestamp=1409095002,oauth_nonce=04884788028488627343,oauth_signature_method=HMAC-SHA1,oauth_consumer_key=key,OAuth
        realm=,oauth_signature=d4S%2BxQ1tMYpjSbnu%2FV2%2FgDrfLs0%3D
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
    body:
      encoding: UTF-8
      string: Authentication failed.
  recorded_at: Tue, 26 Aug 2014 23:16:43 GMT
[...]
- request:
    method: get
    uri: https://api35.semantria.com/status.json?oauth_consumer_key=9ca68ae2-c2f1-4eed-be4f-b93f2dfdedb5&oauth_nonce=92395119812704970643&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1412442553&oauth_version=1.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - oauth_version=1.0,oauth_timestamp=1412442553,oauth_nonce=92395119812704970643,oauth_signature_method=HMAC-SHA1,oauth_consumer_key=9ca68ae2-c2f1-4eed-be4f-b93f2dfdedb5,OAuth
        realm=,oauth_signature=Ng77pfsq8V8Ad00ltp062GVJs1E%3D
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: '{"api_version":"3.55","service_version":"3.5.5.762","service_status":"available","supported_encoding":"UTF-8","supported_compression":"gzip,deflate","supported_languages":["English","French","Spanish","Portuguese","German","Chinese","Italian","Korean","Japanese"]}'
  recorded_at: Sat, 04 Oct 2014 17:09:14 GMT
recorded_with: VCR 2.9.3
