---
http_interactions:
- request:
    method: post
    uri: https://api35.semantria.com/document?oauth_consumer_key=9ca68ae2-c2f1-4eed-be4f-b93f2dfdedb5&oauth_nonce=95260684638774085638&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1412441734&oauth_version=1.0
    body:
      encoding: UTF-8
      string: '{"id":"9795812600","text":"Very nice restaurant"}'
    headers:
      Authorization:
      - oauth_version=1.0,oauth_timestamp=1412441734,oauth_nonce=95260684638774085638,oauth_signature_method=HMAC-SHA1,oauth_consumer_key=9ca68ae2-c2f1-4eed-be4f-b93f2dfdedb5,OAuth
        realm=,oauth_signature=RkDX0KUmEwhMe%2FbYhnvhYFnoTSU%3D
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 04 Oct 2014 16:55:35 GMT
- request:
    method: get
    uri: https://api35.semantria.com/document/processed.json?oauth_consumer_key=9ca68ae2-c2f1-4eed-be4f-b93f2dfdedb5&oauth_nonce=95260684638774085638&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1412441745&oauth_version=1.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - oauth_version=1.0,oauth_timestamp=1412441745,oauth_nonce=95260684638774085638,oauth_signature_method=HMAC-SHA1,oauth_consumer_key=9ca68ae2-c2f1-4eed-be4f-b93f2dfdedb5,OAuth
        realm=,oauth_signature=giA3EH8Zp%2B3V3Vb4lnO7lLp8lcs%3D
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: '[{"language":"English","id":"8993308634","status":"PROCESSED","themes":[{"sentiment_score":0.89,"strength_score":1.0,"title":"nice
        restaurant","sentiment_polarity":"positive","evidence":4,"is_about":false}],"phrases":[{"type":"detected","sentiment_score":1.0680001,"title":"nice","sentiment_polarity":"positive","is_negated":false,"is_intensified":true,"intensifying_phrase":"Very"}],"auto_categories":[{"type":"node","categories":[{"type":"concept","strength_score":0.6236478,"title":"Fast-food_franchises"},{"type":"concept","strength_score":0.60825896,"title":"Restaurant_franchises"},{"type":"concept","strength_score":0.6076183,"title":"Theme_restaurants"},{"type":"concept","strength_score":0.6027079,"title":"Hamburger_restaurants"},{"type":"concept","strength_score":0.59943295,"title":"Fast_casual_restaurants"}],"strength_score":1.0,"title":"Food"}],"sentiment_score":1.0680001,"sentiment_polarity":"positive","topics":[{"type":"concept","hitcount":0,"sentiment_score":1.0680001,"strength_score":0.5342962,"title":"Hotels","sentiment_polarity":"positive"},{"type":"concept","hitcount":0,"sentiment_score":1.0680001,"strength_score":0.5189895,"title":"Food","sentiment_polarity":"positive"}],"config_id":"5a11ccd3-8b41-445b-974b-b7f7e2aca56b","source_text":"Very
        nice restaurant","language_score":1.0},{"language":"English","id":"2669003054","status":"PROCESSED","themes":[{"sentiment_score":0.89,"strength_score":1.0,"title":"nice
        restaurant","sentiment_polarity":"positive","evidence":4,"is_about":false}],"phrases":[{"type":"detected","sentiment_score":1.0680001,"title":"nice","sentiment_polarity":"positive","is_negated":false,"is_intensified":true,"intensifying_phrase":"Very"}],"auto_categories":[{"type":"node","categories":[{"type":"concept","strength_score":0.6236478,"title":"Fa[...]
[...]
- request:
    method: get
    uri: https://api35.semantria.com/document/processed.json?oauth_consumer_key=9ca68ae2-c2f1-4eed-be4f-b93f2dfdedb5&oauth_nonce=21478149899563852630&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1412442566&oauth_version=1.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - oauth_version=1.0,oauth_timestamp=1412442566,oauth_nonce=21478149899563852630,oauth_signature_method=HMAC-SHA1,oauth_consumer_key=9ca68ae2-c2f1-4eed-be4f-b93f2dfdedb5,OAuth
        realm=,oauth_signature=I8gIxFlYfUZbgGMKwOBj2kZSoYg%3D
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: '[{"language":"English","id":"4474982204","status":"PROCESSED","themes":[{"sentiment_score":0.5,"strength_score":1.0,"title":"single
        document","sentiment_polarity":"neutral","evidence":4,"is_about":true}],"phrases":[{"type":"detected","sentiment_score":0.5,"title":"nice","sentiment_polarity":"positive","is_negated":false,"is_intensified":false}],"summary":"This
        is a nice single document... ","auto_categories":[{"type":"node","categories":[{"type":"concept","strength_score":0.5264832,"title":"Digital_press"}],"strength_score":0.4533226,"title":"Print_Media"}],"sentiment_score":0.5,"sentiment_polarity":"positive","config_id":"5a11ccd3-8b41-445b-974b-b7f7e2aca56b","source_text":"This
        is a nice single document","language_score":5.0},{"language":"English","id":"5776632478","status":"PROCESSED","themes":[{"sentiment_score":0.5,"strength[...]
