---
http_interactions:
- request:
    method: post
    uri: https://api35.semantria.com/document?oauth_consumer_key=9d205eae-9c7f-4442-92b0-c9aaef1f20e1&oauth_nonce=11802432798670104471&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1409096183&oauth_version=1.0
    body:
      encoding: UTF-8
      string: '{"id":"6626243718","text":"Very nice restaurant"}'
    headers:
      Authorization:
      - oauth_version=1.0,oauth_timestamp=1409096183,oauth_nonce=11802432798670104471,oauth_signature_method=HMAC-SHA1,oauth_consumer_key=9d205eae-9c7f-4442-92b0-c9aaef1f20e1,OAuth
        realm=,oauth_signature=6AafAr5P9CpZe3SSXry1WBy01l8%3D
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 26 Aug 2014 23:36:24 GMT
[...]
- request:
    method: get
    uri: https://api35.semantria.com/document/processed.json?oauth_consumer_key=9d205eae-9c7f-4442-92b0-c9aaef1f20e1&oauth_nonce=95626640063905324294&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1409096217&oauth_version=1.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - oauth_version=1.0,oauth_timestamp=1409096217,oauth_nonce=95626640063905324294,oauth_signature_method=HMAC-SHA1,oauth_consumer_key=9d205eae-9c7f-4442-92b0-c9aaef1f20e1,OAuth
        realm=,oauth_signature=CdhP2b29OQj1DbAz3nDF7dS0s2Q%3D
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: '[{"language":"English","id":"3301665670","status":"PROCESSED","themes":[{"sentiment_score":0.89,"strength_score":1.0,"title":"nice
        restaurant","sentiment_polarity":"positive","evidence":4,"is_about":false}],"phrases":[{"type":"detected","sentiment_score":1.0680001,"title":"nice","sentiment_polarity":"positive","is_negated":false,"is_intensified":true,"intensifying_phrase":"Very"}],"auto_categories":[{"type":"node","categories":[{"type":"concept","strength_score":0.6236478,"title":"Fast-food_franchises"},{"type":"concept","strength_score":0.60825896,"title":"Restaurant_franchises"},{"type":"concept","strength_score":0.6076183,"title":"Theme_restaurants"},{"type":"concept","strength_score":0.6027079,"title":"Hamburger_restaurants"},{"type":"concept","strength_score":0.59943295,"title":"Fast_casual_restaurants"}],"strength_score":1.0,"title":"Food"}],"sentiment_score":1.0680001,"sentiment_polarity":"positive","topics":[{"type":"concept","hitcount":0,"sentiment_score":1.0680001,"strength_score":0.5342962,"title":"Hotels","sentiment_polarity":"positive"},{"type":"concept","hitcount":0,"sentiment_score":1.0680001,"strength_score":0.5189895,"title":"Food","sentiment_polarity":"positive"}],"config_id":"5a11ccd3-8b41-445b-974b-b7f7e2aca56b","source_text":"Very
        nice restaurant","language_score":1.0},{"language":"English","id":"9233744728","status":"PROCESSED","themes":[{"sentiment_score":0.89,"strength_score":1.0,"title":"nice
        restaurant","sentiment_polarity":"positive","evidence":4,"is_about":false}],"phrases":[{"type":"detected","sentiment_score":1.0680001,"title":"nice","sentiment_polarity":"positive","is_negated":false,"is_intensified":true,"intensifying_phrase":"Very"}],"auto_categories":[{"type":"node","categories":[{"type":"concept","strength_score":0.6236478,"title":"Fa[...]
[...]
