---
http_interactions:
- request:
    method: post
    uri: https://api35.semantria.com/document?oauth_consumer_key=9ca68ae2-c2f1-4eed-be4f-b93f2dfdedb5&oauth_nonce=44923476622891800381&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1412442252&oauth_version=1.0
    body:
      encoding: UTF-8
      string: '{"id":"5776632478","text":"This is a nice single document"}'
    headers:
      Authorization:
      - oauth_version=1.0,oauth_timestamp=1412442252,oauth_nonce=44923476622891800381,oauth_signature_method=HMAC-SHA1,oauth_consumer_key=9ca68ae2-c2f1-4eed-be4f-b93f2dfdedb5,OAuth
        realm=,oauth_signature=C3BW1hUKBtbFGbKIjO7xrTgCax4%3D
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 04 Oct 2014 17:04:13 GMT
- request:
    method: get
    uri: https://api35.semantria.com/document/5776632478.json?oauth_consumer_key=9ca68ae2-c2f1-4eed-be4f-b93f2dfdedb5&oauth_nonce=44923476622891800381&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1412442263&oauth_version=1.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - oauth_version=1.0,oauth_timestamp=1412442263,oauth_nonce=44923476622891800381,oauth_signature_method=HMAC-SHA1,oauth_consumer_key=9ca68ae2-c2f1-4eed-be4f-b93f2dfdedb5,OAuth
        realm=,oauth_signature=wN%2BxM1aAt5xZKELqJpM%2BzcNPZNI%3D
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: '{"language":"English","id":"5776632478","status":"PROCESSED","themes":[{"sentiment_score":0.5,"strength_score":1.0,"title":"single
        document","sentiment_polarity":"neutral","evidence":4,"is_about":true}],"phrases":[{"type":"detected","sentiment_score":0.5,"title":"nice","sentiment_polarity":"positive","is_negated":false,"is_intensified":false}],"summary":"This
        is a nice single document... ","auto_categories":[{"type":"node","categories":[{"type":"concept","strength_score":0.5264832,"title":"Digital_press"}],"strength_score":0.4533226,"title":"Print_Media"}],"sentiment_score":0.5,"sentiment_polarity":"positive","config_id":"5a11ccd3-8b41-445b-974b-b7f7e2aca56b","source_text":"This
        is a nice single document","language_score":5.0}'
  recorded_at: Sat, 04 Oct 2014 17:04:24 GMT
[...]
